<nz-card [nzBordered]="false" nzTitle="{{role.id?(l('EditRole')+':'+role.displayName):l('CreateRole')}}" class="mb-lg">
    <nz-tabset>
        <nz-tab nzTitle="{{'RoleProperties' | translate}}">
            <nz-card>
                <form nz-form (ngSubmit)="save()">
                    <nz-row [nzGutter]="4">
                        <nz-col>
                            <nz-form-item>
                                <nz-form-label nzFor="role.displayName">{{"RoleName" | translate}}</nz-form-label>
                                <nz-form-control>
                                    <input type="text" nz-input [(ngModel)]="role.displayName" name="role.displayName">
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                        <nz-col>
                            <nz-form-item>
                                <label nz-checkbox [(ngModel)]="role.isDefault" name="role.isDefault">{{"Default" | translate}}</label>
                                <span>{{"DefaultRole_Description" | translate}}</span>
                            </nz-form-item>
                        </nz-col>

                    </nz-row>
                </form>
            </nz-card>
        </nz-tab>
        <nz-tab nzTitle="{{'Permissions' | translate}}">
            <permission-tree #permissionTree></permission-tree>
        </nz-tab>
    </nz-tabset>
</nz-card>
<div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button type="submit" [nzType]="'primary'" (click)="save()"  [nzLoading]="saving">保存</button>
</div>