<page-header>
    <ng-template #action>
        <div class="action">
            <button nz-button [nzType]="'primary'" [nzSize]="'middle'" (click)="createRole()">
                <i class="anticon anticon-plus"></i>
                <span>{{"CreateNewRole" | translate}}</span>
            </button>
        </div>
    </ng-template>
</page-header>
<nz-card>
    <form nz-form (ngSubmit)="getRoles()">
        <nz-row [nzGutter]="{ md: 12, lg: 24, xl: 48 }">
            <nz-col nzMd="12" nzSm="24">
                <permission-select [(selectedPermission)]="selectedPermission"></permission-select>
            </nz-col>
            <nz-col nzMd="12" nzSm="24" [class.text-left]="true">
                <button nz-button nzType="primary" type="submit" [nzLoading]="loading" [nzSize]="'middle'">{{'Refresh' | translate}}</button>
            </nz-col>
        </nz-row>
    </form>
    <simple-table #st [data]="data" [columns]="columns"  frontPagination="false" showPagination="true"
        [loading]="loading">
        <ng-template st-row="displayName" type="title" let-c>
            {{ c.title }}
        </ng-template>
        <ng-template st-row="displayName" let-item let-index="index">
            <span>{{item.displayName}}</span>
            <nz-tag *ngIf="item.isStatic" style="margin-left:5px">{{'Static' | translate}}</nz-tag>
            <nz-tag *ngIf="item.isDefault" [nzColor]="'gray'">{{'Default' | translate}}</nz-tag>
        </ng-template>
    </simple-table>
</nz-card>