
<form nz-form [formGroup]="form" (ngSubmit)="save()" role="form">
    <nz-tabset [nzAnimated]="false" class="tabs" >
        <nz-tab>
            <ng-template #nzTabHeading>修改密码</ng-template>
            <div nz-form-item>
                <div nz-form-control [nzValidateStatus]="password">
                        <input nz-input formControlName="password"
                         [nzType]="'password'" [nzSize]="'large'"
                        [(ngModel)]="model.password"
                        >
                           
                        <div nz-form-explain *ngIf="password.errors?.required">请输入密码！</div>
                </div>
            </div>
            <div nz-form-item>
                <div nz-form-control [nzValidateStatus]="passwordRepeat">
                        <input nz-input formControlName="passwordRepeat"
                         [nzType]="'password'"
                         [nzSize]="'large'"
                        [(ngModel)]="model.passwordRepeat"
                        >
                            
                        <div nz-form-explain *ngIf="passwordRepeat.errors?.required">请输入密码！</div>

                </div>
            </div>
        </nz-tab>
    </nz-tabset>

    <div nz-form-item>
            <button [disabled]="saving" routerLink="/pawwport/login" nz-button [nzType]="'default'" [nzSize]="'large'" >
                    <i class="anticon anticon-arrow-left"></i><span>返回</span>
                    </button>
                <button nz-button [nzType]="'primary'" [nzSize]="'large'" >
                        <i class="anticon anticon-check"></i><span>提交</span>
                </button>

    </div>

</form>

