<div class="modal-header">
    <div class="modal-title">
        <span>{{options.title}}</span>
    </div>
</div>

<form nz-form (ngSubmit)="getRecordsIfNeeds()" *ngIf="options.isFilterEnabled">
    <nz-row [nzGutter]="{ md: 12, lg: 24, xl: 48 }">
        <nz-col nzMd="12" nzSm="24">
            <input nz-input name="filterText" placeholder="{{l('SearchWithThreeDot')}}" [(ngModel)]="filterText">
        </nz-col>
        <nz-col nzMd="12" nzSm="24" [class.text-left]="true">
            <button nz-button nzType="primary" type="submit" [nzLoading]="loading" [nzSize]="'middle'">{{l('Refresh')}}</button>
        </nz-col>
    </nz-row>
</form>
<simple-table #st [columns]="columns" [data]="data" [showSizeChanger]="true" isPageIndexReset="true" frontPagination="false"
    [loading]="loading" (change)="getRecordsIfNeeds()">
    <ng-template st-row="active" let-item let-index="index">
        <nz-switch [(ngModel)]="item.isActive" [nzDisabled]="true"></nz-switch>
    </ng-template>
</simple-table>