// 可以通过 http://ng-alain.com/theme 生成相应的参数代码
@aside-nav-selected-bg: #404040;
@aside-nav-selected-text-color: #787878 !important;
@primary-color: purple;
@header-bg: #49484e;
@aside-bg: #404040;
@aside-nav-group-text-color: #667178;
@aside-nav-text-hover-color: #667178;
@aside-nav-text-color: hsla(0, 0%, 100%, 0.67);
@content: #e3e3e3;
@border-radius-base: 5px; // 按钮、input
@card-shadow: 0 35px 35px rgba(0, 0, 0, 0.09); // card 阴影样式

@content-heading-bg: #9b9b9b;
@header-hg: 60px;//顶部
@header-padding: 10px;
@aside-nav-padding-top-bottom: 6px;//菜单的高度
@content-padding: 14px;//内容的padding



//ant
@table-padding-vertical: 10px;
@card-padding-base: 12px;
@pagination-item-size: 26px;
@form-item-margin-bottom     : 4px;
@form-vertical-label-padding : 0 0 4px;