


<div class="modal-header">
    <div class="modal-title">修改租户</div>
</div>


<form nz-form #tenantEditForm="ngForm" role="form" novalidate
 class="form-validation" (submit)="save()" *ngIf="tenant && active">

    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label for="name" nz-form-item-required>名字</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <input nz-input name="Name" [(ngModel)]="tenant.name" [nzSize]="'large'">
        </div>
    </div>
    <div nz-form-item nz-row *ngIf="currentConnectionString">
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label for="ConnectionString" nz-form-item-required>数据库连接字符串</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <input nz-input name="ConnectionString" [(ngModel)]="tenant.connectionString" [nzSize]="'large'" required maxlength="1024">
        </div>
    </div>
    <div nz-form-item nz-row *ngIf="currentConnectionString">
        <span class="help-block text-warning">数据库连接字符说明</span>
    </div>

    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label for="edition">版本</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-select name="edition" [nzSize]="'large'" [(ngModel)]="tenant.editionId" (ngModelChange)="onEditionChange($event)">
                <nz-option *ngFor="let edition of editions" [nzLabel]="edition.displayText" [nzValue]="edition.value * 1"></nz-option>
            </nz-select>
        </div>
    </div>

    <div nz-form-item nz-row *ngIf="isSubscriptionFieldsVisible">
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">

        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <label name="IsUnlimited" nz-checkbox [(ngModel)]="isUnlimited" (ngModelChange)="onUnlimitedChange()">
                <span>UnlimitedTimeSubscription</span>
            </label>
        </div>
    </div>

    <div nz-form-item nz-row *ngIf="!(isUnlimited || !isSubscriptionFieldsVisible)">
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label>{{"SubscriptionEndDate" | translate}}</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                <nz-date-picker name="subscriptionEndDateUtc" 
                [(ngModel)]="subscriptionEndDateUtc" 
                [nzPlaceholder]="'Select date'"></nz-date-picker>
            </div>
        </div>

    <div nz-form-item nz-row *ngIf="isSubscriptionFieldsVisible">
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">

            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                <label name="IsInTrialPeriod" nz-checkbox [(ngModel)]="tenant.isInTrialPeriod" (ngModelChange)="onUnlimitedChange()"
                [disabled]="selectedEditionIsFree()">
                    <span>IsInTrialPeriod</span>
                </label>
            </div>
        </div>

        <div nz-form-item nz-row >
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">

                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <label name="IsActive" nz-checkbox [(ngModel)]="tenant.isActive"
                    >
                        <span>激活</span>
                    </label>
                </div>
            </div>


    <div class="modal-footer">
        <button type="button" 
        nz-button [nzType]="'default'" [nzSize]="'large'" (click)="close()">
        {{"Cancel" | translate}}
        </button>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'">
                <span>{{"Save" | translate}}</span>
        </button>
    </div>
</form>
