<page-header>
    <ng-template #action>
        <div class="action">
            <button nz-button [nzType]="'primary'" [nzSize]="'middle'" (click)="createTenant()">
                <i class="anticon anticon-plus"></i>
                <span>{{l("CreateNewTenant")}}</span>
            </button>
        </div>
    </ng-template>
</page-header>
<nz-card>
    <form nz-form (ngSubmit)="load()">
        <nz-row [nzGutter]="{ md: 12, lg: 24, xl: 48 }">
            <nz-col nzMd="12" nzSm="24">
                <nz-form-item>
                    <nz-form-label nzFor="ffilterText">{{l('TenantNameOrTenancyCode')}}</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="filters.filterText" placeholder="" [(ngModel)]="filters.filterText">
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="12" nzSm="24">
                <nz-form-item>
                    <nz-form-label>{{l('Edition')}}</nz-form-label>
                    <nz-form-control>
                        <edition-combo [(selectedEdition)]="filters.selectedEditionId"></edition-combo>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="12" nzSm="24" *ngIf="expandForm">
                <nz-form-item>
                    <label nz-checkbox name="filters.subscriptionEndDateRangeActive" [(ngModel)]="filters.subscriptionEndDateRangeActive">{{l('SubscriptionEndDate')}}</label>
                    <nz-range-picker name="filters.subscriptionEndDateRange" [nzStyle]="{width: '100%'}" [(ngModel)]="filters.subscriptionEndDateRange"
                        [nzDisabled]="!filters.subscriptionEndDateRangeActive">
                    </nz-range-picker>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="12" nzSm="24" *ngIf="expandForm">
                <nz-form-item>
                    <label nz-checkbox name="filters.creationDateRangeActive" [(ngModel)]="filters.creationDateRangeActive">{{l('CreationTime')}}</label>
                    <nz-range-picker name="filters.creationDateRangeActive" [nzStyle]="{width: '100%'}" [(ngModel)]="filters.creationDateRangeActive"
                        [nzDisabled]="!filters.creationDateRangeActive">
                    </nz-range-picker>
                </nz-form-item>
            </nz-col>
        </nz-row>
        <nz-row>

            <nz-col nzMd="24" nzSm="24" [class.text-right]="true">
                <a (click)="expandForm=!expandForm">
                    {{expandForm ? l("隐藏高级过滤") : '显示高级过滤'}}
                    <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                </a>
                <button nz-button nzType="primary" type="submit" [nzLoading]="loading" [nzSize]="'middle'">{{l('Refresh')}}</button>
            </nz-col>
        </nz-row>
    </form>
    <simple-table #st [columns]="columns" [data]="data"  [showSizeChanger]="true" isPageIndexReset="true"
        frontPagination="false" showPagination="true" [loading]="loading" (change)="getTenants()"></simple-table>
</nz-card>