<page-header>
    <ng-template #action>
        <div class="action">
            <button nz-button [nzType]="'primary'" [nzSize]="'middle'" (click)="createTenant()">
                <i class="anticon anticon-plus"></i>
                <span>{{"CreateNewTenant" | translate}}</span>
            </button>
        </div>
    </ng-template>
</page-header>
<nz-card>
    <form nz-form (ngSubmit)="load()">
        <nz-row [nzGutter]="4">
            <nz-col nzMd="12" nzSm="24">
                <nz-form-item>
                    <nz-form-label nzFor="ffilterText">{{'TenantNameOrTenancyCode' | translate}}</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="filters.filterText" placeholder="" [(ngModel)]="filters.filterText">
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="12" nzSm="24">
                <nz-form-item>
                    <nz-form-label>{{'Edition' | translate}}</nz-form-label>
                    <nz-form-control>
                        <edition-combo [(selectedEdition)]="filters.selectedEditionId"></edition-combo>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="12" nzSm="24" *ngIf="expandForm">
                <nz-form-item>
                    <label nz-checkbox name="filters.subscriptionEndDateRangeActive" [(ngModel)]="filters.subscriptionEndDateRangeActive">{{'SubscriptionEndDate' | translate}}</label>
                    <nz-range-picker name="filters.subscriptionEndDateRange" [nzStyle]="{width: '100%'}" [(ngModel)]="filters.subscriptionEndDateRange"
                        [nzDisabled]="!filters.subscriptionEndDateRangeActive">
                    </nz-range-picker>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="12" nzSm="24" *ngIf="expandForm">
                <nz-form-item>
                    <label nz-checkbox name="filters.creationDateRangeActive" [(ngModel)]="filters.creationDateRangeActive">{{'CreationTime' | translate}}</label>
                    <nz-range-picker name="filters.creationDateRangeActive" [nzStyle]="{width: '100%'}" [(ngModel)]="filters.creationDateRangeActive"
                        [nzDisabled]="!filters.creationDateRangeActive">
                    </nz-range-picker>
                </nz-form-item>
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col nzMd="24" nzSm="24" [class.text-right]="true">
                <a (click)="expandForm=!expandForm">
                    {{expandForm ? l("隐藏高级过滤") : '显示高级过滤'}}
                    <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                </a>
                <button nz-button nzType="primary" type="submit" [nzLoading]="loading" [nzSize]="'middle'">{{'Refresh' | translate}}</button>
            </nz-col>
        </nz-row>
    </form>
    <simple-table #st [columns]="columns" [data]="data" [showSizeChanger]="true" isPageIndexReset="true" frontPagination="false"
        showPagination="true" [loading]="loading" (change)="getTenants()">
        <ng-template st-row="active" let-item let-index="index">
            <nz-switch [(ngModel)]="item.isActive" [nzDisabled]="true"></nz-switch>
        </ng-template>
    </simple-table>
</nz-card>